.student .bg1
{
	background-color:rgb(56, 90, 118) !important;
}

.ui-datepicker th { background-color: #CCCCFF; }

.student .white
{
	color:white !important;
}

.student .text
{
  	color: rgb(178, 16, 139);
  	margin-left: 20px;
}

.student .text1
{
	color: white;
	float:right;
}
.student .red
{
	color: rgb(178, 16, 139);
  
}
.top
{
  margin-top:20px;
}
.top1
{
  margin-top:70px;
}
.padd1
{
padding:8px;
}
.border
{
    border-bottom: 1px solid rgb(234, 230, 230);
}
.student .blue
{
color:rgb(124, 159,187) !important;
}
.student .green
{
color:green !important;
}
.student .black
{
color:black !important;
}
.blue{color:rgb(124, 159,187) !important;
}
.btm
{
margin-bottom:20px;
}
#footer
{
/*background-color: #90A1A8;*/

background-color:rgb(56, 90, 118) !important;


}
a:hover
{
	text-decoration:none;
	
}
.student  .monday
{
 
 margin-top:2px;
 color:gray;
}
.october
{
   margin-top:-5px;
  color:gray;
}
   .student .form-control
{
  
border: 1px solid #FFF !important;
border-radius: 0px !important;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); 

}
.student .circle
{
width:25px;
height:25px;
border-radius:50%;
border:1px solid #fff;
background-color:red;
text-align:center;
float:right;
margin-top:-25px;
margin-right:-30px;
color:#fff;

}
.student .bg2

{
background-color:gray !important;
}